grafana:
  enabled: true
  grafana.ini:
    server:
      root_url: "%(protocol)s://%(domain)s:%(http_port)s/grafana/"
      serve_from_sub_path: true
  ingress:
    enabled: true
    ingressClassName: nginx 
    path: /grafana
    pathType: Prefix

prometheus:
  prometheusSpec:
    replicas: 1
    scrapeInterval: "30s"
    retention: "10d"
    retentionSize: "4GB"
    externalUrl: "/prometheus"
    routePrefix: "/" 
    serviceMonitorSelectorNilUsesHelmValues: false
    serviceMonitorNamespaceSelector: {}
    podMetadata: 
      labels:
        app: prometheus
        k8s-app: prometheus
    persistentVolumeClaimRetentionPolicy: 
      whenDeleted: Retain
      whenScaled: Retain
    storageSpec: 
      volumeClaimTemplate:
        spec:
          storageClassName: "local-path"
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: "500Mi"
    thanos: {}

  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/rewrite-target: /$2
      nginx.ingress.kubernetes.io/priority: "100" 
    paths:
      - /prometheus(/|$)(.*)
    pathType: ImplementationSpecific

  thanosService:
    enabled: true
  thanosServiceMonitor:
    enabled: true

alertmanager:
  alertmanagerSpec:
    externalUrl: ""
    routePrefix: "/"
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: "local-path"
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: "500Mi"
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/rewrite-target: /$2
    paths:
      - /alertmanager(/|$)(.*)
    pathType: ImplementationSpecific

prometheusOperator:
  admissionWebhooks:
    enabled: true
    patch:
      enabled: true
      image:
        registry: registry.k8s.io
        image: ingress-nginx/kube-webhook-certgen
        tag: v1.5.0
  thanosImage:
    registry: quay.io
    repository: thanos/thanos
    tag: v0.39.2




