apiVersion: apps/v1
kind: Deployment
metadata:
  name: sharks-app-deploy
  labels:
    app: web-deploy
spec:
  selector:
    matchLabels:
      app: sharks
  template:
    metadata:
      labels:
        app: sharks
    spec:
      containers:
      - name: sharks
        image: ghcr.io/adebisea/app_deployment/sharks-app:latest
        ports:
        - containerPort: 3000
      imagePullSecrets:
      - name: ghcr-secret
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%

      maxSurge: 25%






