apiVersion: v1
kind: Service
metadata:
  name: sharks-service
  namespace: sharks
  labels:
    app: sharks 
spec:
  type: NodePort
  selector:
    app: web
  ports: 
    - name: sharks-app-metrics 
      protocol: TCP
      port: 80
      targetPort: 3000
