name: Bootstrap ArgoCD

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/boostrap-argocd.yaml'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/boostrap-argocd.yaml'
  workflow_dispatch: 

env:
  REGION: ${{ vars.REGION }}
  CLUSTER_NAME: ${{ vars.CLUSTER_NAME }}

jobs:
  bootstrap:
    if: github.event_name != 'push' || !startsWith(github.event.head_commit.message, 'Merge pull request')
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          sparse-checkout: k8s_manifests

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.REGION }}

      - name: Setup kubectl
        uses: azure/setup-kubectl@v4

      - name: Setup kubeconfig
        run: aws eks update-kubeconfig --name ${{ env.CLUSTER_NAME }} --region ${{ env.REGION }}

      - name: Install Argo CD (Helm)
        run: |
          cd third-party/argocd/argo-app/helm-install
          helm repo add argo https://argoproj.github.io/argo-helm
          helm upgrade --install argocd argo/argo-cd -n argocd --create-namespace -f values.yaml

      - name: Apply App of Apps
        run: |
          cd third-party/argocd/argo-app
          kubectl apply -f sharks-app.yaml -n argocd
