controller:
  admissionWebhooks:
    enabled: true
    patch:
      enabled: true
      image:
        registry: registry.k8s.io
        image: ingress-nginx/kube-webhook-certgen
        tag: v1.5.0 
        digest: sha256:aa903009772183e925b41040375685558e6f1f44f511904d49a62961d152a5c3
  metrics:
    port: 10254
    portName: metrics
  # if this port is changed, change healthz-port: in extraArgs: accordingly
    enabled: false
    service:
      # -- Enable the metrics service or not.
      enabled: true
      prometheus.io/scrape: "true"
  
      prometheus.io/port: "10254"

